@use './util/functions' as f;
@use './util/mixins' as m;

.crew {
  &__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__member-role {
    font-family: var(--ff-heading);
    text-transform: uppercase;
    color: var(--grey);
  }

  &__member-name {
    margin-bottom: f.rem(14);
    font-family: var(--ff-heading);
    font-size: f.rem(24);
    text-transform: uppercase;
  }

  &__bio {
    @include m.body-text-defaults;
  }
}

.hero-image {
  width: auto;
  height: 222px;

  &__container {
    order: -1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: f.rem(28);
    border-bottom: 1px solid #383b4b;
  }
}

.crew__pagination-dots {
  order: -1;
  margin-bottom: f.rem(18);

  &__dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    padding: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border: none;
    transition: background 100ms linear;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover,
    &:focus-visible {
      background: rgba(255, 255, 255, 0.5);
      outline: none;
    }

    &:focus-visible {
      @include m.focus-styles;
    }

    &--active {
      background: var(--white);

      &:hover,
      &:focus-visible {
        background: var(--white);
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .crew {
    &__member-role {
      font-size: f.rem(24);
    }

    &__member-name {
      margin-bottom: f.rem(5);
      font-size: f.rem(40);
    }

    &__bio {
      @include m.body-text-defaults-medium;
      width: 600px;
      margin-bottom: 35px;
    }
  }

  .hero-image {
    height: 532px;

    &__container {
      order: 0;
      margin-bottom: 0;
    }
  }

  .crew__pagination-dots {
    order: 0;
    margin-bottom: 30px;
  }
}
