@use './util/functions' as f;
@use './util/mixins' as m;

.crew {
  &__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__member-role {
    font-family: var(--ff-heading);
    text-transform: uppercase;
    color: var(--grey);
  }

  &__member-name {
    margin-bottom: f.rem(14);
    font-family: var(--ff-heading);
    font-size: f.rem(24);
    text-transform: uppercase;
  }

  &__bio {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    color: var(--light-blue);
  }
}

.hero-image {
  width: auto;
  height: 222px;

  &__container {
    order: -1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: f.rem(28);
    border-bottom: 1px solid #383b4b;
  }
}

.crew__pagination-dots {
  display: flex;
  align-items: center;
  order: -1;
  margin-bottom: f.rem(18);

  &__dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    padding: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border: none;
    transition: background 100ms linear;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover,
    &:focus-visible {
      background: rgba(255, 255, 255, 0.5);
      outline: none;
    }

    &:focus-visible {
      @include m.focus-styles;
    }

    &--active {
      background: var(--white);

      &:hover,
      &:focus-visible {
        background: var(--white);
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .crew {
    &__text-section {
      width: 600px;
      margin-bottom: 40px;
    }

    &__member-role {
      font-size: f.rem(24);
    }

    &__member-name {
      margin-bottom: f.rem(5);
      font-size: f.rem(40);
    }

    &__bio {
      margin-bottom: 40px;
    }
  }

  .hero-image {
    height: 532px;

    &__container {
      order: 0;
      margin-bottom: 0;
    }
  }

  .crew__pagination-dots {
    order: 0;
    margin-bottom: 0;
  }

  @media (max-height: 1024px) {
    .hero-image {
      &__container {
        border-bottom: none;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .crew {
    &__main-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 1108px;
      margin-top: f.rem(90);
    }

    &__text-section {
      justify-content: normal;
      align-items: normal;
      flex-shrink: 0;
      width: 650px;
      min-height: 409px;
      margin-bottom: 50px;
      margin-bottom: 0;
      text-align: start;
    }

    &__member-role {
      font-size: f.rem(32);
    }

    &__member-name {
      margin-bottom: f.rem(14);
      font-size: f.rem(56);
    }

    &__bio {
      width: 440px;
      margin-bottom: auto;
    }
  }

  .hero-image {
    height: auto;
    position: absolute;
    bottom: 0;

    &--douglas {
      left: -40px;
    }

    &--mark {
      left: -10px;
    }

    &--victor {
      left: -75px;
    }

    &--anousheh {
      left: -75px;
    }

    &__container {
      display: flex;
      width: 450px;
      height: 504px;
      position: relative;
      border: none;
    }
  }

  .crew__pagination-dots {
    margin-top: 50px;
    margin-bottom: 0;

    &__dot {
      width: 15px;
      height: 15px;
    }
  }
}
