@use './util/functions' as f;
@use './util/mixins' as m;

.destination {
  &__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__hero-image {
    width: 170px;
    height: 170px;
    margin-bottom: f.rem(18);
  }

  &__info-section {
    text-align: center;
  }

  &__main-heading {
    margin-bottom: f.rem(-10);
    font-size: f.rem(56);
    font-family: var(--ff-heading);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
  }

  &__description {
    padding-bottom: f.rem(32);
    margin-bottom: f.rem(30);
    border-bottom: 1px solid #383b4b;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    color: var(--light-blue);
  }
}

.destination__nav-bar {
  display: flex;
  justify-content: center;
  margin-bottom: f.rem(10);

  &__button {
    cursor: pointer;
    position: relative;
    padding: f.rem(8) 0 f.rem(11) 0;
    border: none;
    background: none;
    font-family: var(--ff-sub-heading);
    font-size: f.rem(14);
    font-weight: var(--fw-thin);
    text-transform: uppercase;
    letter-spacing: f.rem(3);
    color: var(--light-blue);
    transition: color 150ms ease-in-out;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::before {
      @include m.button-focus-underline;
      background: rgba(255, 255, 255, 0.5);
      transform: scaleX(0);
      transition-property: transform, background;
      transition-duration: inherit;
      transition-timing-function: ease-in-out;
    }

    &:hover::before,
    &:focus-visible::before {
      transform: scaleX(1);
    }

    &:focus-visible {
      outline: none;
    }

    &--active {
      color: var(--white);

      &::before {
        @include m.button-focus-underline;
        background: var(--white);
        transform: scaleX(1);
      }

      /*
        Makes it so that the underline doesn't turn grey when being hovered
        over/focused on if the button is active
      */
      &:hover::before,
      &:focus-visible::before {
        background: var(--white);
      }
    }
  }
}

.stats {
  &__container:not(:last-child) {
    margin-bottom: f.rem(24);
  }

  &__heading {
    margin-bottom: f.rem(6);
    font-family: var(--ff-sub-heading);
    font-size: f.rem(14);
    font-weight: var(--fw-thin);
    text-transform: uppercase;
    letter-spacing: f.rem(2.36);
    color: var(--light-blue);
  }

  &__value {
    font-family: var(--ff-heading);
    font-size: f.rem(28);
    letter-spacing: 0;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 650px) {
  .destination {
    &__hero-image {
      width: 300px;
      height: 300px;
      margin-bottom: f.rem(40);
    }

    &__main-heading {
      margin-bottom: f.rem(-4);
      font-size: f.rem(80);
    }

    &__description {
      width: 570px;
      padding-bottom: f.rem(50);
    }

    &__stats-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 360px;
      margin-inline: auto;
    }
  }

  .destination__nav-bar {
    margin-bottom: f.rem(22);

    &__button {
      font-size: f.rem(16);
      letter-spacing: f.rem(2.7);

      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  .stats {
    &__container:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  .destination {
    &__main-content {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
    }

    &__hero-image {
      width: 445px;
      height: 445px;
      margin-bottom: 0;
      margin-right: 157px;
    }

    &__info-section {
      width: 440px;
      text-align: start;
    }

    &__main-heading {
      font-size: f.rem(100);
    }

    &__description {
      width: auto;
      padding-bottom: f.rem(54);
    }

    &__stats-section {
      margin-inline: 0;
    }
  }

  .destination__nav-bar {
    justify-content: flex-start;
  }
}
