@use './util/functions' as f;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;

  &__page-heading {
    margin-bottom: f.rem(30);
    font-family: var(--ff-sub-heading);
    font-weight: 200;
    letter-spacing: f.rem(2.7);
    text-transform: uppercase;
    text-align: center;

    &::before {
      display: inline-block;
      margin-right: f.rem(14);
      font-weight: var(--fw-bold);
      color: #4b4c55;
    }

    &--destination::before {
      content: '01';
    }

    &--crew::before {
      content: '02';
    }

    &--technology::before {
      content: '03';
    }
  }
}

@media screen and (min-width: 650px) {
  .main {
    margin-top: 35px;

    &__page-heading {
      width: 100%;
      margin-bottom: f.rem(55);
      text-align: start;
      font-size: f.rem(20);
    }
  }
}

@media screen and (min-width: 1440px) {
  .main {
    margin-top: 75px;

    &__page-heading {
      width: 1108px;
      font-size: f.rem(28);
      letter-spacing: f.rem(4.72);

      &--destination {
        margin-bottom: f.rem(50);
      }

      &--crew {
        margin-bottom: f.rem(54);
      }

      &--technology {
        margin-bottom: f.rem(22);
      }
    }
  }
}
