@use './util/functions' as f;
@use './util/mixins' as m;

.technology {
  &__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

  &__pagination-dots {
    display: flex;
    margin-bottom: f.rem(24);

    &__dot {
      @include m.center-content;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgba(151, 151, 151, 0.5);
      background: none;
      font-family: var(--ff-heading);
      font-size: f.rem(16);
      color: var(--white);

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:hover,
      &:focus-visible {
        border: 1px solid var(--white);
      }

      &:focus-visible {
        outline: 2px solid var(--white);
        outline-offset: 4px;
      }

      &--active {
        background: var(--white);
        border: 1px solid var(--white);
        color: var(--dark-blue);
      }
    }
  }

  &__info-section {
    text-align: center;
  }

  &__sub-heading {
    margin-bottom: f.rem(2);
    font-family: var(--ff-sub-heading);
    font-size: f.rem(14);
    text-transform: uppercase;
    letter-spacing: f.rem(2.36);
    color: var(--light-blue);
  }

  &__name {
    margin-bottom: f.rem(12);
    font-family: var(--ff-heading);
    font-size: f.rem(24);
    text-transform: uppercase;
  }

  &__description {
    @include m.body-text-defaults;
  }

  &__hero-image {
    order: -1;
    width: 100vw;
    height: clamp(170px, 45vw, 310px);
    object-fit: cover;
    object-position: bottom;
    margin-bottom: f.rem(34);
  }
}
